@model CarViewModel
<h1>Car</h1>
<form action="@Url.Action("AddCarInfo","Car")">
    <input type="submit" class="btn btn-primary" value="Add Car" />
</form>
<form action="@Url.Action("DeleteCar","Car")">
    <input type="submit" class="btn btn-primary" value="Delete Car" />
</form>
<form action="@Url.Action("Edit","Car")">
    <input type="submit" class="btn btn-primary" value="Edit Car" />
</form>
<form action="@Url.Action("DetailsCar","Car")">
    <input type="submit" class="btn btn-primary" value="CarDetails" />
</form>
<h1>CarType</h1>
<form action="@Url.Action("AddNewCarType","CarType")">
    <input type="submit" class="btn btn-primary" value="Add CarType" />
</form>
<form action="@Url.Action("DeleteCarType","CarType")">
    <input type="submit" class="btn btn-primary" value="Delete CarType" />
</form>

<form action="@Url.Action("Index","Car")">
    @foreach (var car in Model.Cars)
    {
        <div>
            <p>Bil ID: @car.Id</p>
            <p>Bilmärke: @car.CarBrand</p>
            <p>RegNr: @car.RegNr</p>
            <p>BilModel: @car.CarModel</p>
            <p>Motor: @car.CarType.Enginge</p>
            <p>MotorId: @car.CarType.Id</p>
            <br />
        </div>
    }
</form>
